@using OrionCoreCableColor.App_Helper
<div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 100%; color:white;">
    <nav id="js-primary-nav" class="primary-nav" role="navigation">
        <div class="info-card justify-content-center align-items-center" style="width: 100%;">
            <div class="page-logo-link d-flex  justify-content-center align-items-center">
                <img style="width: 60%; height: 60%; " class="profile-image rounded-circle img-fluid" src="~/Content/img/AvatarUsuario/11.png" alt="Profile Picture">
            </div>
            <img src="~/Content/img/fondo_aside.jpg" class="cover img-fluid" alt="cover">
        </div>
        <div class="page-logo d-flex justify-content-center align-items-center">
            <img src="~/Content/img/LogoCabeceraOrion.png" alt="ORION" aria-roledescription="logo" class="img-fluid" style="filter: invert(1); width: 50%; height: auto;">
        </div>
        <ul class="nav-menu js-nav-builtr text-center">
            
        <li class="btn-group text-center align-items-center" style="width:100%;">
            <button class="btn btn-xs dropdown-toggle waves-effect waves-themed" data-toggle="dropdown" aria-expanded="false"> </button>
            <div class="dropdown-menu">
                <a href="@Url.Action("LogOff","Account")" class="dropdown-item"> LogOut </a>
            </div>
        </li>
        </ul>

        <!-- Añadido el primer bloque de código aquí -->
        <ul id="js-nav-menu" class="nav-menu text-white">
            @if (User.IsInRole("SARIS_DASHBOARD"))
            {
                <li>
                    <a href="@Url.Action("Index","Home")" data-filter-tags="blank page">
                        <i class="fal fa-tachometer"></i>
                        <span class="nav-link-text" data-i18n="nav.blankpage" style="color:white;">Dashboard</span>
                    </a>

                </li>
            }

            <li>
                <a href="@Url.Action("Index","Ticket")" data-filter-tags="blank page">
                    <i class="fal fa-ticket"></i>
                    <span class="nav-link-text" data-i18n="nav.blankpage" style="color:white;">Incidente</span>
                </a>

            </li>



            @if (User.IsInRole("SARIS_Seguridad"))
            {
                <li>

                    <a href="#" title="Application Intel" data-filter-tags="Seguridad">
                        <i class="fal fa-user-lock"></i>
                        <span class="nav-link-text" data-i18n="nav.ControlUsuarios" style="color:white;">Seguridad</span>
                    </a>
                    <ul>

                        @if (User.IsInRole("SARIS_Registrar_Usuario"))
                        {
                            <li>
                                <a href="@Url.Action("index","usuario")" data-filter-tags="blank page">
                                    <i class="fal fa-user"></i>
                                    <span class="nav-link-text" data-i18n="nav.blankpage" style="color:white;">Registrar Usuario</span>
                                </a>
                            </li>
                        }
                        @if (User.IsInRole("SARIS_Roles"))
                        {
                            <li>
                                <a href="@Url.Action("index","role")" data-filter-tags="blank page">
                                    <i class="fal fa-lock fa-fw"></i>
                                    <span class="nav-link-text" style="color:white;"><strong>Roles</strong></span>
                                </a>
                            </li>
                        }
                    </ul>
                </li>
            }


            @if (User.IsInRole("SARIS_Mantenimiento"))
            {
                <li>
                    <a href="#" title="Application Intel" data-filter-tags="Mantenimiento">
                        <i class="fal  fa-cog"></i>
                        <span class="nav-link-text" data-i18n="nav.ControlUsuarios" style="color:white;">Mantenimiento</span>
                    </a>
                    <ul>
                        @if (User.IsInRole("Mantenimiento_Modulo_Areas"))
                        {
                            <li>
                                <a href="@Url.Action("Index","Area")" data-filter-tags="blank page">
                                    <i class="fal fa-archive"></i>
                                    <span class="nav-link-text" data-i18n="nav.blankpage" style="color:white;">Areas</span>
                                </a>
                            </li>

                        }
                        @if (User.IsInRole("Mantenimiento_Modulo_Estados"))
                        {
                            <li>
                                <a href="@Url.Action("Index","Estados")" data-filter-tags="blank page">
                                    <i class="fal fa-file-archive fa-fw"></i>
                                    <span class="nav-link-text" style="color:white;"><strong>Estados</strong></span>
                                </a>
                            </li>
                        }

                        @if (User.IsInRole("Mantenimiento_Modulo_Categorias_y_SubCategorias"))
                        {
                            <li>
                                <a href="@Url.Action("Index","Pais")" data-filter-tags="blank page">
                                    <i class="fal fa-location-circle fa-fw"></i>
                                    <span class="nav-link-text" style="color:white;"><strong>Pais</strong></span>
                                </a>
                            </li>
                        }
                        @if (User.IsInRole("Mantenimiento_Modulo_Categorias_y_SubCategorias"))
                        {
                            <li>
                                <a href="@Url.Action("Index","Region")" data-filter-tags="blank page">
                                    <i class="fal fa-location-circle fa-fw"></i>
                                    <span class="nav-link-text" style="color:white;"><strong>Region</strong></span>
                                </a>
                            </li>
                        }
                        @if (User.IsInRole("Mantenimiento_Modulo_Categorias_y_SubCategorias"))
                        {
                            <li>
                                <a href="@Url.Action("Index","Ciudad")" data-filter-tags="blank page">
                                    <i class="fal fa-location-circle fa-fw"></i>
                                    <span class="nav-link-text" style="color:white;"><strong>Ciudad</strong></span>
                                </a>
                            </li>
                        }
                        @if (User.IsInRole("Mantenimiento_Modulo_Categorias_y_SubCategorias"))
                        {
                            <li>
                                <a href="@Url.Action("Index","Clacificacion_CI")" data-filter-tags="blank page">
                                    <i class="fal fa-location-circle fa-fw"></i>
                                    <span class="nav-link-text" style="color:white;"><strong>Clasificacion CI</strong></span>
                                </a>
                            </li>
                        }
                        @if (User.IsInRole("Mantenimiento_Modulo_Categorias_y_SubCategorias"))
                        {
                            <li>
                                <a href="@Url.Action("Index","CI_Configuracion")" data-filter-tags="blank page">
                                    <i class="fal fa-location-circle fa-fw"></i>
                                    <span class="nav-link-text" style="color:white;"><strong>Configuracion CI</strong></span>
                                </a>
                            </li>
                        }
                        @if (User.IsInRole("Mantenimiento_Modulo_Categorias_y_SubCategorias"))
                        {
                            <li>
                                <a href="@Url.Action("Index","Plataforma")" data-filter-tags="blank page">
                                    <i class="fal fa-location-circle fa-fw"></i>
                                    <span class="nav-link-text" style="color:white;"><strong>Plataformas</strong></span>
                                </a>
                            </li>
                        }

                        @if (User.IsInRole("Mantenimiento_Modulo_Categorias_y_SubCategorias"))
                        {
                            <li>
                                <a href="@Url.Action("Index","CategoriaIndicadores")" data-filter-tags="blank page">
                                    <i class="fal fa-list fa-fw"></i>
                                    <span class="nav-link-text" style="color:white;"><strong>Categorias de Apertura</strong></span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index","Indicadores")" data-filter-tags="blank page">
                                    <i class="fal fa-exclamation-triangle fa-fw"></i>
                                    <span class="nav-link-text" style="color:white;"><strong>Sub Categorias de Apertura</strong></span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index","CategoriasIncidenciasResolucion")" data-filter-tags="blank page">
                                    <i class="fal fa-list fa-fw"></i>
                                    <span class="nav-link-text" style="color:white;"><strong>Categorias de Resolución</strong></span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index","IncidenciasResolucion")" data-filter-tags="blank page">
                                    <i class="fal fa-exclamation-triangle fa-fw"></i>
                                    <span class="nav-link-text" style="color:white;"><strong>Sub Categorias de Resolución</strong></span>
                                </a>
                            </li>
                        }

                        <li>
                            <a href="@Url.Action("ImpactoBandeja","Catalogos")" data-filter-tags="blank page">
                                <i class="fal fa-bolt fa-fw"></i>
                                <span class="nav-link-text" style="color:white;"><strong>Impacto</strong></span>
                            </a>
                        </li>

                        <li>
                            <a href="@Url.Action("BandejaPrioridades","Catalogos")" data-filter-tags="blank page">
                                <i class="fal fa-exclamation-circle fa-fw"></i>
                                <span class="nav-link-text" style="color:white;"><strong>Prioridad</strong></span>
                            </a>
                        </li>

                        @if (User.IsInRole("Mantenimiento_Modulo_Gerencias"))
                        {
                            <li>
                                <a href="@Url.Action("Index","Gerencias")" data-filter-tags="blank page">
                                    <i class="fal fa-user-tie fa-fw"></i>
                                    <span class="nav-link-text" style="color:white;"><strong>Gerencias</strong></span>
                                </a>
                            </li>
                        }

                        @if (User.IsInRole("Mantenimiento_Modulo_Gerencias"))
                        {
                            <li>
                                <a href="@Url.Action("BandejaUsuariosVerArea","Catalogos")" data-filter-tags="blank page">
                                    <i class="fal fa-user-tie fa-fw"></i>
                                    <span class="nav-link-text" style="color:white;"><strong>Usuarios Visualizar Areas</strong></span>
                                </a>
                            </li>
                        }


                        @*@if (User.IsInRole("Mantenimiento_Modulo_Ubicaciones"))
        {
            <li>
                <a href="@Url.Action("Index","Ubicaciones")" data-filter-tags="blank page">
                    <i class="fal fa-location-circle fa-fw"></i>
                    <span class="nav-link-text" style="color:white;"><strong>Ubicaciones</strong></span>
                </a>
            </li>
        }*@



                    </ul>
                </li>
            }


            @*@if (User.IsInRole("Orion_Acceso_Configuraciones"))
            {
                <li>
                    <a href="@Url.Action("IndexConfiguraciones","Mantenimiento")" data-filter-tags="blank page">
                        <i class="fal fa-cogs"></i>
                        <span class="nav-link-text" data-i18n="nav.blankpage" style="color:white;">Configuraciones</span>
                    </a>
                </li>
            }*@


            @*<li>
                <a href="#" title="Application Intel" data-filter-tags="Contrato">
                    <i class="fal fa-file-contract"></i>
                    <span class="nav-link-text" data-i18n="nav.Clientes" style="color:white;">Contratos</span>
                </a>
                <ul>
                    <li>
                        <a href="@Url.Action("GuardarContrato","Contrato")" data-filter-tags="blank page">
                            <i class="fal fa-file-edit"></i>
                            <span class="nav-link-text" data-i18n="nav.blankpage" style="color:white;">Editor</span>
                        </a>
                    </li>

                </ul>
            </li>*@


        </ul>
    </nav>
</div>
